<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakurasou.moshiro.account.mapper.ClientMapper">
    <resultMap id="clientMap" type="Client">
        <id property="id" column="client_id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
    </resultMap>
    <select id="getAll" resultMap="clientMap">
        select *
        from client;
    </select>
</mapper>