<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakurasou.moshiro.account.mapper.ClientMapper">
    <resultMap id="clientMap" type="client">
        <id property="id" column="client_id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
    </resultMap>
    <!-- 将id改为自定义生成,而不需要用户输入 -->
    <insert id="create" parameterType="client">
        insert into client (client_id, name, email, password, salt)
        VALUES (#{id}, #{name}, #{email}, #{password}, #{salt})
    </insert>
    <delete id="delById" parameterType="String">
        delete
        from client
        where client_id = #{id}
    </delete>
    <!-- 增加一个更新 -->
    <select id="getAll" resultMap="clientMap">
        select *
        from client;
    </select>
</mapper>